:root {
    --color-primary: #ff9196;
    --color-primary-light: #f6b2b3;
    --color-primary-dark: #ff6068;
    --color-primary-dark-3: #EF9695;
    --color-primary-dark-2: #803434;

    --color-gray-light: #eeeeee;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

    --line: 1px solid var(--color-gray-light);
}


$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width: $bp-large) {
        font-size: 60%;
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 50%;
    }
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--color-primary-light);
}
