@font-face {
    font-family: "lemon-milk";
    src: url("../fonts/LEMONMILK-Light.otf");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "lemon-milk";
    src: url("../fonts/LEMONMILK-Regular.otf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "lemon-milk";
    src: url("../fonts/LEMONMILK-Medium.otf");
    font-weight: 500;
    font-style: normal;
}